@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.05rem;
}

.app {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.header {
  display: block;
}
.header h1 {
  color: #31A5D0;
  display: inline-block;
}

.header ul {
  float: right;
  margin-top: 30px;
  list-style: none;
}

.header ul li {
  display: inline-block;
  margin: 0 15px;
  color: #31A5D0;
  padding: 5px;
}

.header ul li:hover {
  border-bottom: 3px solid #31A5D0;
  cursor: pointer;
}

