@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

.app {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.header {
  display: block;
}
.header h1 {
  color: #31A5D0;
  display: inline-block;
}

.header ul {
  float: right;
  margin-top: 30px;
  list-style: none;
}

.header ul li {
  display: inline-block;
  margin: 0 15px;
  color: #31A5D0;
  padding: 5px;
}

.header ul li:hover {
  border-bottom: 3px solid #31A5D0;
  cursor: pointer;
}

.blog-list-title {
	font-size: 1.7rem;
	font-weight: bold;
	margin-bottom: 15px;
}


.post-card {
  display: inline-block;
  max-width: 29%;
  background-color: #32D1BF;
  padding: 5px;
  border-radius: 5px;
  max-height: 200px;
  min-height: 200px;
  overflow: hidden;
	margin: 5px 10px;
}

.post-card p {
  margin: 0;
}

.post-card h4 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.post-card a {
  text-decoration: none;
  color: black;
}

.create h2 {
  display: block;
  text-align: center;
  color: #B541EF;
}

.create form {
  display: block;
  width: 40%;
  margin: 0 auto;
}

.create form label {
  display: block;
  font-size: 1.3rem;
}

.create form input, .create form textarea {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  margin-bottom: 30px;
  width: 100%;
  font-size: 1rem;
  padding: 5px;
}

.create form button {
  width: 100px;
  padding: 5px;
  background-color: #B541EF;
  border-radius: 3px;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  margin: 0 auto;
  display: block;
}

.create .error {
  text-align: center;
  margin-top: 30px;
  color: rgba(0,0,0,0.5);
}

.post-detail p {
  color: rgba(0,0,0,0.75);
}

.author-info a {
  color: rgba(0,0,0,0.7);
}