@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

.app {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.header {
  display: block;
}
.header h1 {
  color: #31A5D0;
  display: inline-block;
}

.header ul {
  float: right;
  margin-top: 30px;
  list-style: none;
}

.header ul li {
  display: inline-block;
  margin: 0 15px;
  color: #31A5D0;
  padding: 5px;
}

.header ul li:hover {
  border-bottom: 3px solid #31A5D0;
  cursor: pointer;
}

.blog-list-title {
	font-size: 1.7rem;
	font-weight: bold;
	margin-bottom: 15px;
}


.post-card {
  display: inline-block;
  max-width: 29%;
  background-color: #32D1BF;
  padding: 5px;
  border-radius: 5px;
  max-height: 200px;
  min-height: 200px;
  overflow: hidden;
	margin: 5px 10px;
}

.post-card p {
  margin: 0;
}

.post-card h4 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.3rem;
}



